@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Luckiest+Guy&family=Poppins:wght@400;600&family=Spicy+Rice&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-color:rgb(136, 136, 216);
}

.game-container {
    box-sizing: content-box;
    width: 600px;
    padding: 2.5em 3em;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(43, 0, 86, 0.2);
}

.memory-game {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
    perspective: 1000px;
    justify-content: center;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: .5em;
    margin-bottom: 1.1em;
}

.stats-container #moves-count {
    text-align: start;
    margin-left: 5px;
}

.stats-container #time {
    text-align: end;
    margin-right: 5px;
}

.stats-container span {
    font-weight: 600;
}

.memory-card {
    width: 140px;
    height: 140px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    border-radius: 5px;
    cursor: pointer;
}

.memory-card:active{
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color:rgb(180, 180, 220);
    backface-visibility: hidden;
    transition: 0.3s;
}

.front-face {
    transform: rotateY(180deg);
}

.back-face:hover {
    background-color: rgb(136, 136, 216);
    transition: 0.3s;
}

@media (max-width: 700px) {
    .memory-game {
        width: 100%;
        justify-content: center;
    }
}

div.restart-pause-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6em;
}

div.restart-pause-container button#restart {
    margin-left: auto;
    margin-right: 0;
    transition: 0.3s;
}

div.restart-pause-container button#pause,
button#play {
    margin-right: auto;
    margin-left: 0;
    transition: 0.3s;
}

.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color:rgb(136, 136, 216);
    top: 0;
}

button#start,
button#play-again {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
    font-size: 1.1em;
    box-shadow: 0 0.6em 2em rgba(43, 0, 86, 0.2);
    color: rgb(136, 136, 216);
    transition: 0.3s;
}

button#start:hover,
button#play-again:hover {
    background-color:rgba(43, 0, 86, 0.4);
    color: white;
}

#restart {
    border: none;
    border-radius: 0.3em;
    padding: .6em 1em;
    cursor: pointer;
    display: flexbox;
    font-size: 1.1em;
    margin: 1.1em auto 0 auto;
    background-color: #B265BA;
    color: white;
}

#pause,
#play {
    border: none;
    border-radius: 0.3em;
    padding: .6em 1.2em;
    cursor: pointer;
    display: flexbox;
    font-size: 1.1em;
    margin: 1.1em auto 0 auto;
    color: #B265BA;
}

button#restart:hover,
button#pause:hover,
button#play:hover {
    background-color: #E8C7FF;
    color: #B265BA;
    transition: 0.3s;
}

.hide {
    display: none;
}

#result {
    text-align: center;
    color: white;
}

#result h2 {
    font-family: "Fascinate Inline";
    font-size: 5em;
    text-shadow: 0 2px 8px rgb(43 0 86 / 50%);
}

#result h4 {
    font-size: 1.8em;
    margin: 0.6em 0 1em 0;
}

#instructions {
    color: white;
    text-align: center;
}

#instructions h1 {
    font-family: "Fascinate Inline";
    font-size: 7em;
    text-shadow: 0 2px 8px rgb(43 0 86 / 50%);
    margin-top: 0px;
}

#instructions h4 {
    font-size: 1.8em;
    margin: 0.6em 1em;
    width: 700px;
}
